<clr-vertical-nav class="nav-bar">
    <a clrVerticalNavLink routerLink="./normal" routerLinkActive="active" class="nav">
        <div class="nav-item">
            <mat-icon>notifications_none</mat-icon>
            <div cds-text="caption">Activity</div>
        </div>
    </a>
    <a clrVerticalNavLink routerLink="./electric" routerLinkActive="active" class="nav">
        <div class="nav-item">
            <mat-icon> chat</mat-icon>
            <div cds-text="caption">Chat</div>
        </div>
    </a>
    <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active" class="nav">
        <div class="nav-item">
            <mat-icon>supervisor_account</mat-icon>
            <div cds-text="caption">Teams</div>
        </div>
    </a>
    <a clrVerticalNavLink routerLink="./grass" routerLinkActive="active" class="nav">
        <div class="nav-item">
            <mat-icon>calendar_today</mat-icon> 
            <div cds-text="caption">Calendar</div>
        </div>
    </a>
    <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active" class="nav">
        <div class="nav-item">
            <mat-icon> call</mat-icon>
            <div cds-text="caption">Calls</div>
        </div>
    </a>
    <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active" class="nav">
        <div class="nav-item">
            <mat-icon> insert_drive_file</mat-icon>
            <div cds-text="caption">Files</div>
        </div>
    </a>
    <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active" class="nav">
        <div class="nav-item">
            <mat-icon>apps</mat-icon>
            <div cds-text="caption">Apps</div>
        </div>
    </a>

    
</clr-vertical-nav>
